In [ ]:
pip -q install psycopg2 sqlalchemy

In [ ]:
import psycopg2
import sqlalchemy
from psycopg2 import OperationalError
import pandas as pd

### config

In [ ]:
db_creds = {'dbname': 'TELECOME_***_***',
            'user': 'a.nes*****',
            'password': '****',
            'host': '192.168.***.**',
            'port': ****}

### psycopg2

In [ ]:
def create_connection(db_creds):
    connection = None
    try:
        connection = psycopg2.connect(database=db_creds['dbname'], user=db_creds['user'],
                                      password=db_creds['password'], host=db_creds['host'],
                                      port=db_creds['port'])
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection


def execute_query(connection, query):
    connection.autocommit = True
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Query executed successfully")
    except OperationalError as e:
        print(f"The error '{e}' occurred")

# test_query = execute_read_query(CONNECTION, 'select * from schema1.table1 limit 10;')
# for i in test_query:
#     print(i)
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except OperationalError as e:
        print(f"The error '{e}' occurred")

In [ ]:
psy_connection = create_connection(db_creds)

In [ ]:
query_text = 'select * schema1.table1 limit 3;'
test_query = execute_read_query(psy_connection, query_text)
for i in test_query:
    print(i)

### sqlAlchemy

In [ ]:
# engine = sqlalchemy.create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = sqlalchemy.create_engine('postgresql+psycopg2://a.nes*****:****@192.168.***.***/TELECOME_****_***')

In [ ]:
with engine.connect() as connection:
    result = connection.execute(sqlalchemy.text(query_text))
    for row in result:
        print(row)

### pandas read_sql

In [ ]:
alch_connection = engine.connect()

In [ ]:
query_text = """select * from schema1.table1 as vh
inner join schema1.table2  as vp
on vp."ID" = vh."ID"
where vp.fromdate='2023-12-07' and  vh.fromdate='2023-12-07'"""

In [ ]:
pd.read_sql(query_text, alch_connection)