In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [9]:
t = pd.DataFrame({'col1': [1,2,3,4],
                  'col2': [500, 600, 1500, 300], 
                  'col3': [15000, 10000, 95000, 5000]})
t

   col1  col2   col3
0     1   500  15000
1     2   600  10000
2     3  1500  95000
3     4   300   5000

In [11]:
t.describe()

           col1         col2          col3
count  4.000000     4.000000      4.000000
mean   2.500000   725.000000  31250.000000
std    1.290994   531.507291  42695.628191
min    1.000000   300.000000   5000.000000
25%    1.750000   450.000000   8750.000000
50%    2.500000   550.000000  12500.000000
75%    3.250000   825.000000  35000.000000
max    4.000000  1500.000000  95000.000000

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(t)

StandardScaler()

In [7]:
t_std = pd.DataFrame(scaler.transform(t), columns = t.columns)

In [8]:
t_std

       col1      col2      col3
0 -1.341641 -0.488813 -0.439480
1 -0.447214 -0.271563 -0.574705
2  0.447214  1.683689  1.724115
3  1.341641 -0.923313 -0.709930

In [12]:
t_std.describe()

           col1          col2          col3
count  4.000000  4.000000e+00  4.000000e+00
mean   0.000000  2.775558e-17 -2.775558e-17
std    1.154701  1.154701e+00  1.154701e+00
min   -1.341641 -9.233133e-01 -7.099296e-01
25%   -0.670820 -5.974380e-01 -6.085111e-01
50%    0.000000 -3.801878e-01 -5.070926e-01
75%    0.670820  2.172502e-01  1.014185e-01
max    1.341641  1.683689e+00  1.724115e+00